.our-works{
  margin-left: 33%;
  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

  }
  &__item{
    flex-grow: 1;
    flex-shrink 1;

    &--small{
      width: 50%;
    }
    &--big{
      flex-basis: 100%;
    }
  }
  &__figure{
    margin: 0;
    width: 100%;
    position: relative;
    }
  &__link{
    position: relative;
    display: block;
    width: 100%;
    height: 100%;

  }
  &__link:after{
    content: ' ';
    background-color: #000;
    height: 100%;
    opacity: 0.5;
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity 0.3s;
    width: 100%;
  }

  /*&__link:hover:before{
    content: 'Хлеб';
    opacity: 1;
    background-color: #0300ff;
    height: 20%;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;


  }*/
  &__link:hover:after{
    opacity: 0;

  }

  &__img{
    display: block;
    background-color: #000;
    background-repeat: no-repeat;
    background-size: cover;
    height: 315px;
    background-position 50%;
    &--hleb{
      background-image: url(../img/hleb.jpg) ;
    }
    &--vestcol{
      background-image: url(../img/vestcol.jpg) ;
    }
    &--dogs{
      background-image: url(../img/dogs.jpg) ;
    }
    &--drop{
      background-image: url(../img/drop.jpg) ;
    }
    &--greenpeace{
      background-image: url(../img/greenpaece.jpg) ;
    }
    &--banana{
      background-image: url(../img/banana.jpg) ;
    }
    &--linam{
      background-image: url(../img/linam.jpg) ;
    }
    &--plan{
      background-image: url(../img/plan.jpg) ;
    }
    &--akiso{
      background-image: url(../img/akiso.jpg) ;
    }
    &--quest{
      background-image: url(../img/quest.jpg) ;
    }
    &--simp{
      background-image: url(../img/simp.jpg) ;
    }
    &--daily{
      background-image: url(../img/daily.jpg) ;
    }
    &--sirius{
      background-image: url(../img/sirius.jpg) ;
    }
    &--fly{
      background-image: url(../img/fly.jpg) ;
    }
    &--swat{
      background-image: url(../img/swat.jpg) ;
    }
    &--startLogo{
      background-image: url(../img/startLogo.jpg) ;
    }
    &--start{
      background-image: url(../img/start.jpg) ;
    }
    &--loreto{
      background-image: url(../img/loreto.jpg);
    }
    &--TD{
      background-image: url(../img/TD.jpg);
    }

  }
  &__figuration{
    position: absolute;
    left: 0;
    height: 10%;
    background-color: #0084ff;
    bottom: 0;
    display: block;
    width: calc(100% - 40px);
    padding: 10px 20px;
  }






}