.post__dogs{
  .post__item{
    &--1{
      background-image: url(../img/dogs/1.jpg);
      background-repeat:  no-repeat;

    }
    &--2{
      background-image: url(../img/dogs/2.jpg);
      background-repeat:  no-repeat;

    }
    &--3{
      background-image: url(../img/dogs/3.jpg);
      background-repeat:  no-repeat;

    }
    &--4{
      background-image: url(../img/dogs/4.jpg);
      background-repeat:  no-repeat;

    }
    &--5{
      background-image: url(../img/dogs/5.jpg);
      background-repeat:  no-repeat;

    }
    &--6{
      background-image: url(../img/dogs/6.jpg);
      background-repeat:  no-repeat;

    }
    &--7{
      background-image: url(../img/dogs/7.jpg);
      background-repeat:  no-repeat;

    }
    &--8{
      background-image: url(../img/dogs/8.jpg);
      background-repeat:  no-repeat;

    }
    &--9{
      background-image: url(../img/dogs/9.jpg);
      background-repeat:  no-repeat;

    }

  }







}