/* merriweather-regular - cyrillic_latin */
@font-face {
  font-family: 'Miriad Pro';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/8143.eot'); /* IE9 Compat Modes */
  src: local('Miriad'), local('MiriadPro-Regular'),
      url('../fonts/8143.ttf') format('truetype'), /* Safari, Android, iOS */
      url('../fonts/8143.woff') format('woff'), /* Modern Browsers */
      url('../fonts/8143.svg#Miriad') format('svg'), /* Legacy iOS */
      url('../fonts/8143.eot?#iefix') format('eot');   /* IE6-IE8 */
}

@import url('https://fonts.googleapis.com/css?family=Exo+2:100,300,400,700|Oswald:300,400,700&subset=cyrillic');