*{
  font-family: Exo2, Arial, Helvetica, sans-serif;
  font-size: 22px;
  font-weight: 400;
  color: #333333;
}
  h1,
  h2,
  h3,
  h4,
  h5,
  h6{
    font-family: Oswald, Calibri, Helvetica, sans-serif;
    font-weight: 400;

  }

img{
  max-width: 100%;
}

body{
  reset();
}